@charset "utf-8";
@font-face {
	font-family: 'king';
	src: 
		local("王漢宗特黑體繁"), 
		url("fonts/王漢宗特黑體繁.ttf");
	font-weight: bold;
}
@font-face {
	font-family: 'thin-king';
	src: 
		local("王漢宗細黑體繁"), 
		url("fonts/王漢宗細黑體繁.ttf");
	font-weight: normal;
}
body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

	body * {
	font-family: 'king';
}
	#top,
	#about,
	#info,
	#works,
	#merch,
	#traffic,
	#links{
		display:none;
	}
		#top:target,
		#about:target,
		#info:target,
		#works:target,
		#merch:target,
		#traffic:target,
		#links:target {
			display: block;
		}

		li {
			list-style-type: none;
		}
.title{
	width: 100%;
	display:flex;
}

	.title input,
	.title label {
		display: none;
		position: fixed;
		z-index: 10;
		-webkit-user-select: none; /* Safari */
		user-select: none; /* Non-prefixed version, 
                        currently supported by all other modern browsers */
	}
	.title label {
		top: 15px;
		right: 0;
		padding: 10px;
	}

		.material-symbols-outlined {
			font-size: 2.5em;
			color: #fff8f4;
		}
@media screen and (min-width: 2000px) {
	.header {
		max-width: 1600px !important;
	}
		.header a {
			font-size: 2em !important;
			width: min(11vw, 250px) !important;
		}
	.home a {
		font-size: 2.5em !important;
	}
	.home .descirption{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 1200px) {
	.header {
		display: none !important;
	}

	.title label {
		display: block;
	}

	#burger:checked + .header {
		z-index: 11;
		display: flex !important;
		flex-direction: column;
		top: 80px;
		gap: 0;
		background: #fff8f4aa;
		border-radius: 10px;
		border: solid 3px #000;
		width: 50%;
	}

		#burger:checked + .header a {
			position: relative;
			width: auto;
			line-height: 1;
			padding: 15px 5px 15px 5px;
			transition: background ease 0.3s;
			border-radius: inherit;
		}

			#burger:checked + .header a:hover {
				background: #7b3c2c;
				color: #fff8f4;
			}

}

.section {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, #9f573e, #7b3c2c);
}
.noise-texture {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:0;
	background-image: url('img/tex/咖啡底紋理.png');
	mix-blend-mode: color-burn;
    opacity: 70%;
	
}

.frame {
	background-color: #fff8f4; /* 設定背景色 */
	border-radius: 0px 0px 20px 20px;
	border: #000 3px solid;
	height: 88%;
	width: 97%;
	margin-top: 60px;
	justify-self: center;
	position: absolute;
	z-index: 1;
}
.frame::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
	border-radius: 0px 0px 20px 20px;
	background-image: url('img/tex/米白底紋理.webp');
}


	.home {
		display: flex;
		gap: 0.9vw;
		align-items: center;
		position: fixed;
		top: 10px;
		left: 35px;
		z-index: 10;
	}

		.home * {
			font-family: thin-king;
			color: #FFF;
		}

		/*左上角*/
		.home a {
			display: flex;
			letter-spacing: 0;
			text-align: center;
			padding: 0;
			font-size: 38px;
			text-decoration: none;
			align-items: center;
		}

			.home a .descirption {
				display: block;
				align-items: center;
				position: relative;
				/* top: 8px; */
				/* left: 35px; */
				z-index: 10;
				font-size: 14px;
				white-space: pre-wrap;
				padding: 0 10px;
			}

.main_icon {
	position: absolute;
	width: 100%;
	height: 100%;
}
	.main_icon .background {
		height: 100%;
		object-fit: contain;
	}

	.header {
		display: flex;
		position: fixed;
		right: 35px;
		top: 10px;
		float: right;
		z-index: 10;
		max-width: 800px;
	}

		/*每個標題中文字*/
		.header a {
			text-decoration: none;
			text-align: center;
			display: flex;
			width: 140px;
			line-height: 0.5em;
			float: left;
			font-size: 1.5em;
			color: #000;
			padding: 10px 0;
			flex-direction: column;
		}

	a.active {
		background-color: #fff8f4;
	}
	/*每個標題下的小英文字*/
	.header a span {
		line-height: 1.7vw;
		font-weight: 400;
		font-size: 0.5em;
		letter-spacing: -1px;
	}
.background-m{
	display:none;
}
.background,
.background-m {
	z-index: 0;
	width: 100%;
	position: absolute;
}


.homeframe,
.about,
.info,
.works,
.merch,
.traffic,
.links {
	position: relative !important;
	width: 100%;
	height: 100%;
	align-self: center;
	justify-self: center;
	top: 0px;
}

	.host,
	.sponsor,
	.workSection {
		position: absolute;
		z-index: 2;
	}

	.row {
		font-size: 18px;
		margin-right: 0px;
	}

	.contentArea {
		display: flex;
		margin-bottom: 3vw;
	}

.about{
	display: flex;
}
.about .intro {
	margin-top: 80px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	z-index:2;
}

.about .intro p {
	margin: 0;
}

		.about .intro .highlight_bg {
			display: flex;
			position: relative;
			top: 0;
			left: 0;
			justify-content: center;
		}

	.about .intro .highlight_text {
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 50%;
		white-space: nowrap;
		transform: translate(-50%, -100%);
	}

		.about .intro .highlight_bg img {
			width: 50%;
			min-width:345px;
		}

.about .img_jarL {
	z-index: 1;
	position: absolute;
	top: 0;
	width: 522px;
	aspect-ratio: 4/5;
	left: -10vw;
	bottom:-16px;
}

	.about .img_jarL span {
		margin-top: 25px;
		margin-left: 30px;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

			.about .img_jarL span .background {
				z-index: 0;
				width: 100%;
				bottom:0;
			}
			.about .img_jarL span .background-m {
				z-index: 1;
			}
			.about .img_stars {
				position: absolute;
				width: 100%;
				top: 80px;
				left: 0;
			}

.intro_group {
	position: absolute;
    bottom: 0;
	left: 40%;
	width: 650px;
	min-width: 530px;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1 / 1;
	min-height: 250px;
	overflow: hidden;
}

		.intro_group .background {
			min-width: 530px;
			z-index:1;
		}

	.about * .background {
		width: inherit;
		object-fit: contain;
	}
@media screen and (max-width: 990px) {
	.about .img_jarL {
		width: 100%;
		left: 0;
		z-index: 3;
	}
	.about .img_jarL span {
		margin-left: 0;
	}
	.about .img_jarL span .background-m {
		display: block;
		width:70%;
		max-width:300px;
	}
	.about .img_jarL span .background {
		display: none;
	}
	.intro_group {
		left: 0;
		width: 100%;
		height: 80%;
		top: 120px;
		min-width: 0;
	}
		.intro_group .background {
			max-width: 560px;
			object-fit: contain;
			height: 100%;
		}
	.about .intro {
		gap: 10px;
	}
		.about .intro p {
			padding: 0 20px;
			font-size: 0.8em;
		}
		.about .intro .highlight_bg img {
			width: 345px;
		}
}
@media screen and (min-width: 1200px){
	.about .img_jarL {
		left: 0;
	}
}
@media screen and (min-width: 2048px) {
	.about .img_jarL {
		
		width: 710px;
	}
		.about .img_jarL span{
			margin-top: 110px;
			margin-left: 5vw;
		}
	.intro_group{
		width: 925px;
	}
	.about .intro p {
		font-size: 1.6em;
	}
	.about .intro .highlight_bg img {
		width: 70%;
	}
}
.intro-left {
	display: flex;
	justify-content: center;
	z-index: 4;
	width: 50%;
	min-width: 750px;
}
	.intro-left .intro {
		position: relative;
		top: max(10vw,140px);
		z-index: 4;
	}
	.intro-left .background {
		width: min(1130px, 50%);
		min-width: 700px;
		z-index: 3;
		top: 18px;
	}

	.intro-left .intro h4{
		display: flex;
		position: relative;
		align-items: center;
		font-size: 1.6em;
		margin: 10px 0;
		z-index: 4;
	}
	.intro-left .intro li .row, 
	.info .host li .row {
		padding: 5px 0;
	}
.intro-left .intro h4 .mark {
	width: 45px;
	left: -80px;
	position:relative;
}
.intro-top {
	z-index: 3;
	display: flex;
	justify-content: center;
	/* width: 390px; */
	height: 100%;
	position: relative;
}
	.intro-top .background {
		width: max(32vw, 390px);
		max-width: 740px;
		position: absolute;
	}
.info {
	justify-content: center;
	position: relative;
	display: flex;
}
	.info .host {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		top: max(45px, 5vw);
		color: #e9e8d9;
		padding: 0;
		margin: 0;
	}
.intro-right {
	position: relative;
	width: 32%;
	font-size: 1.4em;
}
.intro-top .host h4 {
	display: flex;
	position: relative;
	align-items: center;
	margin: 10px 0;
	font-size:1.3em;
	z-index: 4;
}
.info .host li .row{
	font-size:0.8em;
}
.intro-buttom {
	position: absolute;
	display: flex;
	justify-content: center;
	width: max(617px, 45vw);
	left: min(-200px, -14vw);
	/* top: min(370px, max(15.4vw, 267px)); */
	height: 100%;
	bottom: 0;
	z-index: 5;
}
	.intro-buttom .background {
		position: absolute;
		width: min(1062px, 100%);
		object-fit: contain;
		bottom: 0;
	}

.info .sponsor {
	flex-direction: column;
	display: flex;
	justify-content: center;
	font-size: 1.3em;
	bottom: max(206px, 15.2vw);
	left: 58%;
	margin: 0;
	padding: 0;
}
	.info .sponsor h4{
		margin:0;
	}

@media screen and (min-width: 2048px) {
	.info .sponsor h4,
	.intro-top .host h4{
		font-size:1.6em;
	}
	.intro-left .intro li .row,
	.info .host li .row {
		padding: 10px 0;
		font-size:1.3em;
	}
	.intro-left .intro h4{
		font-size: 2.5em;
	}
	.info .host{
		gap:40px;
	}
}
@media screen and (max-width: 1200px) and (min-width: 600px) {
	.info {
		flex-wrap: wrap;
	}

	.intro-left .background {
		min-width: min(100%, 600px);
	}

	.intro-left .intro {
		top: 90px;
	}

		.intro-left .intro h4 .mark {
			width: 30px;
			left: -80px;
		}

	.intro-right {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		align-items: flex-end;
		font-size:1em;
	}

	.intro-buttom,
	.intro-top {
		top: 0;
		left: 0;
		z-index: 3;
	}

	.intro-top {
		position: relative;
		height: 100%;
		align-items: flex-end;
	}

		.intro-top .background {
			object-fit: contain;
			width: 100%;
		}

	.info .host {
		width: 100%;
		top: max(44px, 11.4vw);
	}
}

@media screen and (max-width: 600px) {
	.info {
		padding: 10px 0;
		flex-direction: column;
	}
	.intro-left .intro {
		top: 55px;
	}
	.intro-left {
		height: 50%;
		width: 100%;
		min-width: 0;
		position: relative;
	}
		.intro-left .background {
			width: 400px;
			min-width:0;
		}
		.intro-left .intro h4 {
			font-size: 1em;
		}
			.intro-left .intro h4 .mark {
				width: 15px;
				left: -10px;
			}
		.intro-left .intro li .row, .info .host li .row {
			font-size: 0.6em;
		}
	.intro-top .background,
	.intro-buttom .background{
		display:none;
	}
	.info .host {
		top:0;
		color: #333;
		white-space: nowrap;
		padding: 10px;
	}
	.intro-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 50%;
		gap:10px;
	}
	.intro-top {
		height: inherit;
	}
	.intro-buttom {
		top: 0;
		left: 0;
		width: 100%;
		height: inherit;
	}
	.info .sponsor{
		left:auto;
		top:auto;
	}
}
.works .background_group {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	/* max-width: 1500px; */
	justify-content: center;
}
	.works .background_group .background {
		max-width: 1500px;
	}

.works .contentArea {
	position: absolute;
	flex-wrap: wrap;
	width: 100%;
	height: 72%;
	justify-content: center;
	align-content: center;
	gap: 1vw 0px;
	margin-bottom: 0;
	bottom: 0;
}
	.works .contentArea .works_group {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
		.works .contentArea .works_group a {
			position: relative;
			height: 100%;
			width: min(33%, 352px);
		}
			.works .contentArea .works_group a img {
				object-fit: contain;
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.works .contentArea .works_group a span {
				position: relative;
				height: 100%;
				display: flex;
				justify-content: center;
			}

@media screen and (max-width: 600px) {
	.works .contentArea {
		bottom: auto;
		align-self: anchor-center;
	}
	.works .contentArea .works_group {
		flex-direction: column;
	}
		.works .contentArea .works_group a{
			width:100%;
		}
		.works .contentArea .works_group a img {
			position: relative;
		}
		.works .contentArea .works_group a .background{
			display:none;
		}
			.works .contentArea .works_group a .background-m {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
}

.merch .title {
	position: relative;
	top: 30px;
	width: 100%;
	justify-content: center;
}
	.merch .title span {
		width: max(200px, 20vw);
	}
	.merch .title span img {
		position: relative;
		width: 100%;
	}

.merch .merch-list {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: anchor-center;
	justify-content: center;
	align-items: center;
	align-content: center;
}
	.merch .merch-list .merch-grp {
		position: relative;
		width: max(300px, 20%);
		display: flex;
		flex-direction: column;
		align-items: center;
		aspect-ratio: 1 / 1;
	}
		.merch .merch-list .merch-grp img{
			position:absolute;
			width:100%;
			height:100%;
			object-fit: contain;
		}
		.merch .merch-list .merch-grp .cost{
			height:auto;
			bottom:0;
		}
		.merch .bottom-banner {
			position: absolute;
			bottom: 0;
			display: flex;
			width: 100%;
			justify-content: center;
		}
	.merch .bottom-banner span{
		width:100%;
	}
	.merch .bottom-banner span img{
		position:relative;
		width:100%;
	}
@media screen and (max-width:600px) {
	.merch .merch-list .merch-grp{
		width:160px;
	}
	.merch .merch-list {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

.traffic .intro {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}
.traffic .intro-bg {
	position: absolute;
	bottom: 0;
	left:10%;
	width: min(52vh, (max(341.05px, 36.3%)));
	aspect-ratio: 487 / 760;
	z-index: 0;
}
	.traffic .intro-bg .background {
		position: absolute;
		width:100%;
	}
.traffic .intro-txt {
	position: absolute;
	bottom: max(170px, 39%);
	left: 9%;
	z-index: 2;
}
	.traffic .intro-txt ul {
		padding: 20px 0;
		display: flex;
	}
		.traffic .intro-txt ul li{
			position:relative;
			left:25px;
		}
			.traffic .intro-txt h4 {
				position: relative;
				font-size: 1.6em;
				margin: 0;
				-webkit-writing-mode: vertical-lr;
				writing-mode: vertical-lr;
			}
	.traffic .intro-txt h4 *{
		display:flex;
		justify-content:center;
		position:absolute;
	}
			.traffic .intro-txt h4 img {
				z-index: -1;
				width: 55px;
				top: -50%;
				left: -34%;
			}
	.traffic .map {
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		top: 0;
		left: 24%;
	}
	.traffic .map .map-bg {
		position: absolute;
		height: 800px;
		width: 45%;
	}
		.traffic .map .map-bg span {
			position: absolute;
			display: flex;
			justify-content: center;
			width: 100%;
			aspect-ratio: 541 / 461;
		}
.traffic .left-deco,
.traffic .right-deco {
	display: flex;
	position: absolute;

	height: 100%;
}
.traffic .left-deco{
	width: min(582px, 50%);
    z-index: 1;
    left: 17%;
}
.traffic .right-deco{
    width: min(500px, 50%);
    right: 0;
    z-index: 1;
}
	.traffic .left-deco .background,
	.traffic .right-deco .background {
		position: absolute;
		object-fit: contain;
		bottom: 0;
		width: max(516px, 50%);
	}
		.traffic .left-deco .background{
			left: 34%;
			width: 100%;
		}
		.traffic .right-deco .background{
			width: 100%;
		}

.googleMap {
	position: absolute;
	width: 70%;
	aspect-ratio: 3 / 2;
	border: 0;
	z-index: 10;
	border-radius: 5px;
	align-self: end;
	bottom: min(50px, 9%);
}
@media screen and (max-width:1200px) {
	.traffic .intro-txt ul li .row {
		font-size: 0.8em;
	}

	.traffic .intro-txt h4 {
		font-size: 1.2em;
	}

		.traffic .intro-txt h4 img {
			width: 40px;
			top: -38%;
			left: -29%;
		}

	.traffic .intro-txt ul {
		padding: 10px 0;
	}
	.traffic .map .map-bg {
		width: 55%;
	}
}
@media screen and (max-width:990px) {
	.traffic .map {
		left: auto;
	}

		.traffic .map .map-bg {
			width: min(550px, 100%);
			top: 10px;
		}
	.traffic .intro {
		height: 50%;
		position: absolute;
		bottom: 0;
	}
	.traffic .intro-bg {
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.traffic .intro-bg .background {
		display:none;
	}
	.traffic .intro-txt {
		position: relative;
		left: 0;
		background: #fff8f4db;
		backdrop-filter: grayscale();
		padding: 20px;
		border-radius: 5px;
		top: 0;
	}
	.traffic .left-deco{
		left:10px
	}
	.traffic .left-deco .background{
		left:0;
		z-index:0;
	}
	.traffic .left-deco,
	.traffic .right-deco,
	.traffic .right-deco .background{
		z-index:0;
	}
	.traffic .intro-txt ul li {
		left: 15px;
		z-index: 1;
	}
}
.links .links-deco{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
	.links .links-deco .background {
		z-index: 0;
	}
		.links .links-deco .background:hover {
			z-index: 2;
		}

		.links .links-deco .background {
			bottom: 0;
		}
.links .links-shelf{
    position: absolute;
    width: 100%;
}
.footer {
    position: fixed;
    display: flex;
    bottom: min(2%, 210px);
    right: 2%;
    width: 150px;
    z-index: 10;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
}

		.footer a {
			margin-left: 16px;
			transition: all 0.1s;
			opacity: 1;
			position: relative;
			width: min(65px, 10vw);
		}

			.footer a img {
			    width: 100%;
			}

			.footer a:hover {
				opacity: 0.8;
			}
