@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@charset "utf-8";
@font-face {
    font-family:'Helvetica';
    src: url('Fonts/helvetica-normal.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('Fonts/helvetica-bold.ttf');
	font-weight:bold;
}
@font-face {
    font-family: 'Ligothic';
    src: url('Fonts/iLiHei.ttf');
	}
@font-face {
    font-family: 'Ligothic';
    src: url('Fonts/DFHei-UB-HK-BF.ttf') format('truetype');
	font-weight:900;}
@font-face {
	font-family: 'Ligothic';
	src: url('Fonts/LiGothicMed.ttf') format('truetype');
	font-weight:500;
	}
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-image: url(img2020/map.jpg);
	background-color: #f5e2e5;
	}

/*HOME*/
.home {
	position:fixed;
	top:35px;
	left:75px;
	z-index:10;
	}
.home a:after,.home a:before {
  backface-visibility: hidden;
 border:1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  opacity:0;
  width: 0;
}

.home a:hover:after,
.home a:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: all 350ms ease-in-out;
  width: 100%;
  opacity:1;
}

.home a:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}
.home a{
	letter-spacing: 0;
	text-align:center;
	width:100px;
	height:auto;
	padding:0;
	font-size:50px;
	font-family:'Ligothic', sans serif, Helvetica;
	font-weight:900;
	text-decoration:none;
	box-sizing:content-box;
	color:#FFF;
	transition:all 0.2s;
	}
.home a:hover{
	color:#655f8a;
	}

.header{
	position:fixed;
	right:35px;
	top:35px;
	float:right;
	z-index:10;
	}
.header a{
	text-decoration:none;
	text-align:center;
	display:block;
	width:100px;
	line-height:22px;
	float:left;
	margin:0 15px;
	letter-spacing:1px;
	font-family:'Noto Sans TC', sans serif;
	font-size:20px;
	font-weight:500;
    color:#1D86A0;
	transition:all ease-out	 0.2s;
	}
.header a:hover{
	padding-top: 10px;
	transform: rotate(5deg);
	color: #FFFFFF;
	font-family: "Noto Sans TC", "sans serif";
	}
.header a span{
	margin-top:10px;
	font-family:'Noto Sans TC', sans serif;
	letter-spacing:2px;
	font-weight:400;
	font-size:16px;
	}
	
.homeframe{
	width: 640px;
	height: 776px;
	position: absolute;
	top: 366px;
	left: 759px;
	transform: translateY(-50%);
	}	
.homeframe table{
	color:#FFF;
	font-family:'Ligothic',sans-serif;
	font-weight:900;
	border-collapse:collapse;
	}
.homeframe h3{ font-size:35px;letter-spacing:8px;margin:10px 0 15px 0; }
.homeframe table th{vertical-align:top;font-size:26px;margin-right:40px;} .homeframe table td{vertical-align:top;font-size:18px;padding-left:20px;}
.main{
	color:#FFF;
	

	width:100%;
	}
.main img{

	width:100%;
	}
.main p{
	position: absolute;
	float: left;
	font-family: 'Noto Sans TC',sans-serif;
	font-weight: 900;
	letter-spacing: 7px;
	font-size: 38px;
	text-align: left;
	left: 83px;
	top: 310px;
	}
.main2019{
	width: 100%;
	height:90px;
	font-family:'bold', sans serif, Helvetica;
	font-size:98px;
	text-align:left;
	margin-top: 5px;
	margin-left: 10px;
    font-weight: 900;
	color: white;
	letter-spacing:5px;
}
.date{
	width: 100%;
	height:50px;
	font-family:'bold', sans serif, Helvetica;
	font-size:65px;
	text-align:left;
	letter-spacing:16px;
	margin-top: 5px;
	margin-left: 10px;
	font-weight: 900;
	color: white;
}
/*ABOUT*/
.about{

	position:absolute;
	height:50%;
	width:1200px;
	top:50%;
	left:60%;
	transform: translate(-50%,-50%);
	
	
	}
.word{
	cursor:default;
	user-select:none;
	line-height:0px;
	margin-top:280px;
	
	line-height:5px;
	color:#655f8a;
	overflow:visible;
	
	
	float:left;
	width:220px;
	
	height:100%;
	margin-left:250px;

	}

.word p{
	font-family:'Ligothic',sans serif;font-weight:900;
	text-align: center;
	
	}

.abouttext{

	box-sizing:border-box;
	text-align:left;
	font-family:'Noto Sans TC', sans serif;
	font-size:21px;
	font-weight:700;
	line-height:25px;
	margin-top: 130px;
    text-align:justify;
	color:#655f8a;
	width:55%;
	height:100%;
	position:absolute;
	right:1px;

	}
/*INFO*/
.info{
	
	position:absolute;
	height:60%;
	width:80%;
	bottom:50%;
	left:50%;
	transform: translate(-50%,+59%);
	
	}
.infoword{
cursor:default;
user-select:none;
	width:45%;
	padding:0;
	line-height:9px;
	color:#FFF;
	}

.info table{
	margin-top:17px;
	font-family:'Noto Sans TC', sans serif;
	font-size:14px;
	font-weight:400;
	width:100%;
	text-align:left;
	border-collapse:collapse;
	color:#FFF;
	overflow:visible;
	}
.info table td,th{
	padding-bottom:20px;
	}
.info table th{
	vertical-align:top;
	width:120px;
	letter-spacing:6px;
	font-weight:500;
	
	}
	
.info img{
	max-width:100%;
max-height:100%;
	}
/*WORKS*/
.works{
	/*border:1px solid black;*/
	
	width:100vw;
	height:40%;
	position:absolute;
	top:40%;
	left:50vw;
	transform:translate(-50%,-50%);
	text-align:center;
		}
.workword{
	cursor:default;
user-select:none;
	line-height:0;
	width:500px;
	height:30%;
	color:white;
	/*border:black 1px solid;*/
	text-align:center;
	position:absolute;
	left:48%;
	transform:translateX(-200px);
	overflow:visible;
	}
.worklinks{
	
	line-height:0px;
	text-align:center;
    
	
	position:absolute;
	top:190px;
	width:250px;
	height:100px;
	}
.worklinks a{
	color:#d797b3;
	text-decoration:none;
	font-family: Ligothic;
	font-weight:900;
	transition:all 0.2s;
	}
.worklinks a:hover{
	color:#fff;
	padding-bottom:20px;
	}
	
	
/*TRAFFIC*/
.traffic{
	width: 89%;
	height: 66%;
	position: relative;
	top: 45%;
	left: 55%;
	transform: translate(-50%,-50%);
	
	}	
.traffic .trafficword {
	color:#FFF;
	font-family:'Ligothic',sans-serif;
	font-weight:900;
	}
.trafficword{cursor:default;
user-select:none;}
.trafficinfo {
	padding-top:90px;
	
	width:100%;
	box-sizing:border-box;
	height:380px;
	}
.trafficinfo p{
	font-family:'Noto Sans TC',sans-serif;
	color:#FFF;
	font-weight:300;
	line-height:18px;
	font-size:15px;
	letter-spacing:3px;
	}
.routes{
	cursor:default;
user-select:none;
	text-align:center;
	line-height:55px;
	font-weight:500;
	font-size:35px;
	font-family:'Noto Sans TC',sans-serif;
	background:#f5e2e5;
	letter-spacing:5px;
	width:120px;height:55px;
	border-radius:10px;
	}
.links .linksword {
	color: #FFF;
	font-family: 'Ligothic',sans-serif;
	font-weight: 900;
}

.linksword {
	cursor: default;
	user-select: none;
}

.linksdir {
	color: #FFF;
	padding-top: 90px;
	width: 100%;
	box-sizing: border-box;
	height: 380px;
}

	.linksdir a {
		font-family: 'Ligothic',sans-serif;
		color: #FFF;
		font-weight: 300;
		line-height: 18px;
		font-size: 15px;
		text-decoration: none;
		letter-spacing: 3px;
	}

#mapkit-5843 {
        height:283px;
        width:520px;
		border-radius:0 0 30px 30px;
		left:50%;top:55%;
		transform:translate(-50%,-50%);
		}
/*ANIM*/
.anim{
	width:89%;
	height:66%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	
	
	}
	
	.worklinksmall{
	
	
	
	height:54px;
	}	
.worklinksmall a{
	margin-right:10px;
	float:left;
	text-align:left;
	display:block;
	width:auto;
	height:100%;

	color:#31657C;
	text-decoration:none;
	font-family: Ligothic;
	font-weight:500;
	transition:all 0.2s;
	
	}

.worklinksmall a:hover{	color:#f5e2e5;}

.workgrid{
	width:100%;
	height:80%;;
	
	overflow-y:scroll;
	text-align:center;
	padding-top:20px;
	}
.workgrid a{
	font-family: 'Noto Sans TC', sans-serif;
	margin-right: 35px;
	margin-bottom: 20px;
	float: left;
	display: block;
	color: #31657C;
	text-align: center;
	box-sizing: border-box;
	padding-top: 44px;
	line-height: 30px;
	position: relative;
	height: 130px;
	width: 255px;
	border-radius: 10px;
	text-decoration: none;
	background-color: #D6D6D6;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 20px;
	text-indent: 10px;
	opacity: 1;
	transition: all 0.2s;
	}
.workgrid a:hover{
	background-color: rgba(252,250,221,0);
	font-family: "Noto Sans TC", sans-serif;
	font-size: 22px;
}
.workgrid a span{
	font-size: 16px;
	letter-spacing: normal;
	}
.workgrid a#anim1::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A001/A001_01.jpg);
	background-size:300px 169px;
	background-position:center;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim2::before{
	content:"";
	position:absolute;
		left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A002/A002_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim3::before{
	content:"";
	position:absolute;
	left:0;
	top:0;

	border-radius:10px;
	background-image:url(img2020/A/A003/A003_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim4::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A004/A004_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim5::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A005/A005_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim6::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A006/A006_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}

.workgrid a#anim7::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A007/A007_01.jpg);
	background-size:cover;
	background-size:300px 169px;
	background-position:center;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim8::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A008/A008_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim9::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A009/A009_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim10::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A010/A010_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim11::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A011/A011_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim12::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A012/A012_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim13::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A013/A013_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim14::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A015/A015_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim15::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A016/A016_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim16::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A017/A017_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim17::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A018/A018_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim18::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A019/A019_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim19::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A020/A20_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim20::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A021/A021_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#anim21::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A022/A022_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim22::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A023/A023_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim23::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A024/A024_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim24::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A025/A025_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim25::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A026/A026_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim26::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A027/A027_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim27::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A028/A028_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim28::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A029/A029_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim29::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A030/A030_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim30::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A031/A031_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim31::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A032/A032_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim32::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A033/A033_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#anim33::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/A/A034/A034_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#design1::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:10px;
	background-image:url(img2020/B/B001/B001_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#design2::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B002/B002_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#design3::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B003/B003_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#design4::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B004/B004_01_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#design5::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B005/B005_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}
.workgrid a#design6::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B006/B006_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#design7::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B007/B007_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#design8::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B008/B008_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#design9::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B009/B009_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	

.workgrid a#design11::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/B/B011/B011_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	

.workgrid a#newmedia1::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/C/C001/C001_0.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#newmedia2::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/C/C002/C002_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#newmedia3::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/C/C003/C003_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#newmedia4::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/C/C004/C004_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#newmedia5::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/C/C005/C005_01.png);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#newmedia6::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/C/C006/C006_01.jpg);
	background-position:center;
	background-size:300px 169px;
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	
.workgrid a#newmedia7::before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	
	border-radius:10px;
	background-image:url(img2020/C/C008/C008_01.jpg);
	background-size:cover;
	opacity:1;
	z-index:-1;
	height:130px;width:255px;
	}	




.summary{
		color:#FFFFFF;	
		position:absolute;
	
	top:10%;
	
	right:30px;
	line-height: 3em;
	
	width:30%;
	height:80%;
	font-family: "Noto Sans TC";
	
}
@media only screen and (max-width: 1400px) {
	.summary{top:0px;;}
	height:50%;}
.summary p{margin:0 auto;}
#scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(0,0,0,0);
	}

#scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	
	
	background-color: #c57794;;
}


.footer{
	position:fixed;
	bottom:35px;
	right:35px;
	height:50px;
	width:150px;
	z-index:10;
	text-align:right;
	}
.footer a {
	
	width:100px;
	margin-left:16px;
	transition:all 0.1s;
	opacity:1;
	}
.footer a img {
	width:50px;
	height:100%;
	}
.footer a:hover{
	opacity:0.8;
	
	}
