@charset "utf-8";
@font-face {
	font-family: 'king';
	src: 
		local("王漢宗特黑體繁"), 
		url("fonts/王漢宗特黑體繁.ttf");
	font-weight: bold;
}
@font-face {
	font-family: 'thin-king';
	src: 
		local("王漢宗細黑體繁"), 
		url("fonts/王漢宗細黑體繁.ttf");
	font-weight: normal;
}
body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

	body * {
	font-family: 'king';
}
li {
	list-style-type:none;
}
.title{
	width: 100%;
	display:flex;
}

	.title input,
	.title label {
		display: none;
		position: fixed;
		z-index: 10;
		-webkit-user-select: none; /* Safari */
		user-select: none; /* Non-prefixed version, 
                        currently supported by all other modern browsers */
	}
	.title label {
		top: 15px;
		right: 0;
		padding: 10px;
	}
.material-symbols-outlined{
	font-size:2.5em;
	color:#fff8f4;
}
@media screen and (min-width: 2000px) {
	.header {
		max-width: 1600px !important;
	}
		.header a {
			font-size: 2em !important;
			width: min(11vw, 250px) !important;
		}
	.home a{
		font-size:3.5em !important;
	}
	.home .descirption{
		font-size: 1.2em;
	}
}
	@media screen and (max-width: 1200px) {
		.header {
			display: none !important;
		}

		.title label {
			display: block;
		}

		#burger:checked + .header {
			z-index: 11;
			display: flex !important;
			flex-direction: column;
			top: 80px;
			gap: 0;
			background: #fff8f4aa;
			border-radius: 10px;
			border: solid 3px #000;
			width: 50%;
		}

			#burger:checked + .header a {
				position: relative;
				width: auto;
				line-height: 1;
				padding: 15px 5px 15px 5px;
				transition: background ease 0.3s;
				border-radius: inherit;
			}

				#burger:checked + .header a:hover {
					background: #7b3c2c;
					color: #fff8f4;
				}

	}

	.section {
		background: linear-gradient(to bottom, #9f573e, #7b3c2c);
		background-size: 100%;
		background-position-x: left;
		background-repeat: no-repeat;
	}

	.frame {
		background-color: #fff8f4; /* 設定背景色 */
		border-radius: 0px 0px 20px 20px;
		border: #000 3px solid;
		height: 88%;
		width: 97%;
		margin-top: 60px;
		justify-self: center;
	}


	.home {
		display: flex;
		gap: 0.9vw;
		align-items: center;
		position: fixed;
		top: 10px;
		left: 35px;
		z-index: 10;
	}

		.home * {
			font-family: thin-king;
			color: #FFF;
		}

		/*左上角*/
		.home a {
			display: inline;
			align-items: center;
			letter-spacing: 0;
			text-align: center;
			padding: 0;
			font-size: 38px;
			text-decoration: none;
		}

	.descirption {
		display: inline;
		align-items: center;
		top: 8px;
		left: 35px;
		z-index: 10;
		font-size: 14px;
	}


	.header {
		display: flex;
		position: fixed;
		right: 35px;
		top: 27px;
		gap: 10px;
		float: right;
		z-index: 10;
		max-width:800px;
	}

		/*每個標題中文字*/
		.header a {
			text-decoration: none;
			text-align: center;
			display: block;
			width: 140px;
			line-height: 0.5em;
			float: left;
			font-size: 1.5em;
			color: #000;
		}

	a.active {
		background-color: #fff8f4;
	}
	/*每個標題下的小英文字*/
	.header a span {
		line-height: 1.7vw;
		font-weight: 400;
		font-size: 0.5em;
		letter-spacing: -1px;
	}

	.background,
	.background-m{
		z-index: 0;
		width: 100%;
		position: absolute;
	}


.homeframe,
.about,
.info,
.works,
.merch,
.traffic,
.links {
	position: relative !important;
	width: 100%;
	height: 100%;
	align-self: center;
	justify-self: center;
	top: 0px;
}

	.host,
	.sponsor,
	.workSection {
		position: absolute;
		z-index: 2;
	}

	.row {
		font-size: 18px;
		margin-right: 0px;
	}

	.contentArea {
		display: flex;
		margin-bottom: 3vw;
	}

.about{
	display: flex;
}
.about .intro {
	margin-top: 80px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	z-index:2;
}

.about .intro p {
	margin: 0;
}

		.about .intro .highlight_bg {
			display: flex;
			position: relative;
			top: 0;
			left: 0;
			justify-content: center;
		}

	.about .intro .highlight_text {
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 50%;
		white-space: nowrap;
		transform: translate(-50%, -100%);
	}

		.about .intro .highlight_bg img {
			width: 50%;
			min-width:345px;
		}

.about .img_jarL {
	z-index: 1;
	position: absolute;
	top: 0;
	margin-bottom: 50px;
	width: 522px;
	aspect-ratio: 4/5;
	left: -10vw;
}

	.about .img_jarL span {
		margin-top: 25px;
		margin-left: 30px;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

			.about .img_jarL span .background {
				z-index: 0;
				width: 100%;
				height: 100%;
			}
			.about .img_jarL span .background-m {
				display: none;
				z-index: 1;
			}
			.about .img_stars {
				position: absolute;
				width: 100%;
				top: 80px;
				left: 0;
			}

.intro_group {
	position: absolute;
	top: 40px;
	left: 40%;
	width: 650px;
	min-width: 530px;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1 / 1;
	min-height: 250px;
	overflow: hidden;
}

		.intro_group .background {
			min-width: 530px;
			z-index:1;
		}

	.about * .background {
		width: inherit;
		object-fit: contain;
	}
@media screen and (max-width: 990px) {
	.about .img_jarL {
		width: 100%;
		left: 0;
		z-index: 3;
	}
	.about .img_jarL span {
		margin-left: 0;
	}
	.about .img_jarL span .background-m {
		display: block;
		width:70%;
		max-width:300px;
	}
	.about .img_jarL span .background {
		display: none;
	}
	.intro_group {
		left: 0;
		width: 100%;
		height: 80%;
		top: 120px;
		min-width: 0;
	}
		.intro_group .background {
			max-width: 560px;
		}
	.about .intro {
		gap: 10px;
	}
	.about .intro p {
		padding: 0 20px;
	}
}
@media screen and (min-width: 1200px){
	.about .img_jarL {
		left: 0;
	}
}
@media screen and (min-width: 2048px) {
	.about .img_jarL {
		
		width: 710px;
	}
		.about .img_jarL span{
			margin-top: 110px;
			margin-left: 5vw;
		}
	.intro_group{
		width: 925px;
	}
	.about .intro p {
		font-size:2em;
	}
	.about .intro .highlight_bg img {
		width: 70%;
	}
}
.intro-left {
	display: flex;
	justify-content: center;
	z-index: 4;
	width: 50%;
	min-width: 750px;
}
	.intro-left .intro {
		position: relative;
		top: max(10vw,140px);
		z-index: 4;
	}
	.intro-left .background {
		width: min(1130px, 50%);
		min-width: 750px;
		z-index: 3;
	}

	.intro-left .intro h4{
		display: flex;
		position: relative;
		align-items: center;
		font-size: 1.6em;
		margin: 10px 0;
		z-index: 4;
	}
	.intro-left .intro li .row, 
	.info .host li .row {
		padding: 5px 0;
	}
.intro-left .intro h4 .mark {
	width: 45px;
	left: -80px;
	position:relative;
}
.intro-top {
	z-index: 3;
	top: max(0.6vw);
	display: flex;
	justify-content: center;
	width: max(32vw, 390px);
}
	.intro-top .background {
		width: max(32vw, 390px);
		max-width: 740px;
	}
.info {
	justify-content: center;
	position: relative;
	display: flex;
}
		.info .host {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			top: max(45px, 5vw);
			color: #e9e8d9;
		}
.intro-right {
	position: relative;
	width: 32%;
}
.intro-top .host h4 {
	display: flex;
	position: relative;
	align-items: center;
	margin: 10px 0;
	font-size:1.3em;
	z-index: 4;
}
.info .host li .row{
	font-size:0.8em;
}
.intro-buttom {
	position: relative;
	display: flex;
	justify-content: center;
	width: max(617px, 45vw);
	left: min(-200px, -14vw);
	top: min(370px, max(15.4vw, 267px));
	z-index: 5;
}
	.intro-buttom .background {
		position: relative;
		width: min(1062px, 100%);
	}

.info .sponsor {
	flex-direction: column;
	display: flex;
	justify-content: center;
	font-size: 1.3em;
	top: max(120px, 10vw);
	left: 58%;
	margin: 0;
	padding: 0;
}
	.info .sponsor h4{
		margin:0;
	}

@media screen and (min-width: 2048px) {
	.info .sponsor h4,
	.intro-top .host h4{
		font-size:2em;
	}
	.intro-left .intro li .row,
	.info .host li .row {
		padding: 10px 0;
		font-size:1.3em;
	}
	.intro-left .intro h4{
		font-size: 2.5em;
	}
	.info .host{
		gap:40px;
	}
}
@media screen and (max-width: 1200px) and (min-width: 600px) {
	.info {
		flex-wrap: wrap;
	}

	.intro-left .background {
		min-width: min(100%, 600px);
	}

	.intro-left .intro {
		top: 90px;
	}

		.intro-left .intro h4 .mark {
			width: 30px;
			left: -80px;
		}

	.intro-right {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		align-items: flex-end;
	}

	.intro-buttom,
	.intro-top {
		top: 0;
		left: 0;
		z-index: 3;
	}

	.intro-top {
		position: relative;
		height: 100%;
		align-items: flex-end;
	}

		.intro-top .background {
			object-fit: contain;
			width: 100%;
		}

	.info .host {
		width: 100%;
		top: max(44px, 11.4vw);
	}
}

@media screen and (max-width: 600px) {
	.info {
		padding: 10px 0;
		flex-direction: column;
	}
	.intro-left .intro {
		top: 55px;
	}
	.intro-left {
		height: 50%;
		width: 100%;
		min-width: 0;
		position: relative;
	}
		.intro-left .background {
			width: 400px;
			min-width:0;
		}
		.intro-left .intro h4 {
			font-size: 1em;
		}
			.intro-left .intro h4 .mark {
				width: 15px;
				left: -10px;
			}
		.intro-left .intro li .row, .info .host li .row {
			font-size: 0.6em;
		}
	.intro-top .background,
	.intro-buttom .background{
		display:none;
	}
	.info .host {
		top:0;
		color: #333;
		white-space: nowrap;
		padding: 10px;
	}
	.intro-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 50%;
		gap:10px;
	}
	.intro-top {
		height: inherit;
	}
	.intro-buttom {
		top: 0;
		left: 0;
		width: 100%;
		height: inherit;
	}
	.info .sponsor{
		left:auto;
		top:auto;
	}
}
.works .background_group {
	position: absolute;
	width: 100%;
	height: 100%;
}

		.works .background_group .background {
			margin-top: calc(3vh + 3vw);
			object-fit: contain;
			position: absolute;
		}

	.works .contentArea {
		position: absolute;
		margin-top: calc(0vh + 17.8vw);
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		align-content: center;
		gap: 1vw 0px;
	}

	.works .works_group,
	.works .works_group a {
		display: flex;
		justify-content: center;
		width: 26vw;
		min-width: 220px;
		aspect-ratio: 9/13;
		min-height: 250px;
		overflow: hidden;
	}

		.works .works_group a .background {
			position: unset;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}


	.workSection {
		display: flex;
		width: 100%;
		position: absolute;
	}

	.button {
		width: 23vw;
	}

	.traffic .intro {
		top: 39.7vh;
		left: 14vw;
	}


	.traffic .contentArea {
		flex-direction: column;
		gap: 5vw;
	}

	.traffic .column {
		flex-direction: row;
		align-items: center;
		gap: 2vw;
	}

	/*ANIM*/
	.anim {
		width: 89%;
		height: 66%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.googleMap {
		position: absolute;
		top: 300px;
		left: 52%;
		width: 600px;
		height: 375px;
		border: 0;
		z-index: 0;
		border-radius: 5px;
	}

	.summary {
		color: #FFFFFF;
		position: absolute;
		top: 10%;
		right: 30px;
		line-height: 3em;
		width: 30%;
		height: 80%;
	}


	.footer {
		position: fixed;
		bottom: 210px;
		right: 2.3vw;
		height: 50px;
		width: 150px;
		z-index: 10;
		text-align: right;
	}

		.footer a {
			margin-left: 16px;
			transition: all 0.1s;
			opacity: 1;
		}

			.footer a img {
			}

			.footer a:hover {
				opacity: 0.8;
			}
